.restaurant-block {
  width: 50%;
  display: block;
  margin: auto;
}

.restaurant-name {
  text-align: center;
}

.restaurant-image {
  width: 100%;
  max-width: 400px;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  object-fit: contain;
}


.map-container {
  width: 100%;
  height: 100wh
}
