.marker-icon {
    transition: all 0.2s ease-in-out;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  .marker-icon:hover {
    border-width: 4px;
    width: 40px;
    height: 40px;
  }
  